<div class="px-5">
  <app-header></app-header>


  <div class="row">

    <div class="col-6 me-5">
      <h3 class="text-center">Coins</h3>
      <div class="d-flex justify-content-between">
        <button class="btn btn-sm btn-warning" (click)="fetchBasket()">Refresh</button>
        <span><b>Total Value : </b>{{totalValue | currency }}</span>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Symbol</th>
          <th scope="col">Value</th>
          <th scope="col">Market Price</th>
          <th scope="col">Average Price</th>
          <th scope="col">Fiat/Ratio</th>
          <th scope="col">Change(24h)</th>
          <th scope="col">Overflow</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coin of coins; let i = index">
          <th scope="row">{{ i + 1}}</th>
          <td>{{coin.symbol}}</td>
          <td>{{coin.value | currency}}</td>
          <td>{{coin.marketPrice}}</td>
          <td>{{coin.averagePrice.toFixed(6)}}</td>
          <td>{{coin.fiatRatio}}</td>
          <td class="text-center">{{coin.change24h}}</td>
          <td class="text-center">{{coin.overflow}}</td>
        </tr>
        </tbody>
      </table>


    </div>

    <div class="col-5 ms-5">
      <h3 class="text-center">Trades</h3>
      <button class="btn btn-sm btn-warning" (click)="fetchTrades()">Refresh</button>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Symbol</th>
          <th scope="col">Side</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Type</th>
          <th scope="col">Date Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let trade of trades; let i = index" [ngClass]="{'bg-dark text-light': trade.isToday}">
          <th scope="row">{{i + 1}}</th>
          <td>{{trade.symbol}}</td>
          <td>{{trade.side}}</td>
          <td>{{trade.price}}</td>
          <td>{{trade.qty}}</td>
          <td>{{trade.type}}</td>
          <td>{{trade.createdAt |  date:'HH:mm, MMM d y'}}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>
